.app-content {
    margin-top: 0px !important;
}

.required::after {
    content: '*';
    /* Display an asterisk before the label */
    color: red;
    /* Set the color of the asterisk to red (you can adjust as needed) */
    margin-left: 4px;
    /* Add some space between the asterisk and the label text */
}


@media (max-width:1200px) {
    .app-content {
        margin-top: 100px !important;
    }

    .sidebar-user-switcher a {
        display: none !important;
    }
}
